# ignore everything under .tmuxifier
.tmuxifier/*

# keep the .tmuxifier directory itself
!.tmuxifier/

# keep the layouts directory but only session layout files (*.session.sh)
!.tmuxifier/layouts/
!.tmuxifier/layouts/*.session.sh

# (optional) keep templates if you want to version them
!.tmuxifier/templates/
!.tmuxifier/templates/**

# ignore typical local/bak files
.tmuxifier/*.local
.tmuxifier/*.bak

# Ignore nvim lazy-lock.json
nvim/.config/nvim/lazy-lock.json

alacritty/.config/alacritty/local.toml
hyprland/.config/hypr/local.conf
hyprland/.config/hypr/hyprpaper.conf
